---
import { Icon } from "astro-icon/components";

import { ContactForm } from "../components/ContactForm";

import { getI18N } from "../i18n";

const year = new Date().getFullYear();
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<footer id="contact" class="bg-primary w-full pt-[5rem] md:pt-[7.875rem] rounded-t-[2rem]">
  <div
    class="w-full max-w-[76.5rem] mx-auto flex flex-col gap-[8.75rem] px-[1.5rem] sm:px-[2rem] md:px-[3rem] lg:px-[4rem]"
  >
    <div
      class="w-full flex flex-col lg:flex-row items-center lg:items-start justify-between gap-y-[7.5rem] text-white"
    >
      <div
        class="w-full lg:max-w-[19.375rem] flex flex-col items-center gap-[3.75rem]"
      >
        <div class="flex flex-col items-center lg:items-start">
          <h3 class="font-medium text-[1rem] md:text-[1.125rem] opacity-70">
            {i18n.FOOTER.TITLE}
          </h3>
          <h1
            class="font-medium text-[2rem] md:text-[2.625rem] leading-[3rem] text-center lg:text-left"
          >
            {i18n.FOOTER.DESCRIPTION}
          </h1>
        </div>

        <div
          class="w-full max-w-[18.75rem] flex flex-col items-center gap-[1.25rem]"
        >
          <a
            href="mailto:jsandovaldev.pe@gmail.com"
            class="w-full flex items-center justify-between gap-[0.5rem] font-medium text-[1rem] md:text-[1.125rem]"
          >
            jsandovaldev.pe@gmail.com
            <Icon name="mdi:arrow-forward" size={24} />
          </a>
          <a
            href="https://wa.link/gfv204"
            target="_blank"
            class="w-full flex items-center justify-between gap-[0.5rem] font-medium text-[1rem] md:text-[1.125rem]"
          >
            {i18n.FOOTER.WHATSAPP_TITLE}
            <Icon name="mdi:whatsapp" size={24} />
          </a>
          <a
            href="https://www.linkedin.com/in/jimmysandovalramirez/"
            target="_blank"
            class="w-full flex items-center justify-between gap-[0.5rem] font-medium text-[1rem] md:text-[1.125rem]"
          >
            {i18n.FOOTER.LINKEDIN_TITLE}
            <Icon name="mdi:linkedin" size={24} />
          </a>
        </div>
      </div>

      <div
        class="w-full max-w-[24.375rem] flex flex-col items-center gap-[2.125rem]"
      >
        <h1
          class="w-full font-medium text-[1.25rem] md:text-[1.5rem] text-center lg:text-start"
        >
          {i18n.FOOTER.ESTIMATE_YOUR_PROJECT.TITLE}
        </h1>
        <ContactForm client:load currentLocale={currentLocale as string} />
      </div>
    </div>

    <div
      class="w-full h-full lg:h-[5rem] flex flex-col lg:flex-row items-center lg:items-start justify-between gap-y-[1rem] text-white py-[32px]"
    >
      <div class="flex flex-col lg:flex-row items-center gap-[1.25rem]">
        <a href="/" class="font-ubuntu font-bold text-[1.25rem]">JS.</a>
        <p class="text-center md:text-left">
          © {year}. {i18n.FOOTER.COPYRIGHT}
        </p>
      </div>
      <div class="flex items-center gap-[0.25rem]">
        <a href="" class="w-[2rem] h-[2rem] flex items-center justify-center">
          <Icon name="mdi:github" size={24} />
        </a>
        <a href="" class="w-[2rem] h-[2rem] flex items-center justify-center">
          <Icon name="mdi:linkedin" size={24} />
        </a>
        <a href="" class="w-[2rem] h-[2rem] flex items-center justify-center">
          <Icon name="mdi:twitter" size={24} />
        </a>
      </div>
    </div>
  </div>
</footer>
