---
import { Icon } from 'astro-icon/components'
import {Image} from 'astro:assets'

import { getI18N } from '../i18n';

import testimonialImg1 from "../assets/images/testimonial1.webp";
import testimonialImg2 from "../assets/images/testimonial2.webp";

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section
  class="w-full h-full max-w-[76.5rem] flex flex-col items-center gap-[10rem] mx-auto pt-[3.75rem] pb-[10rem] px-[1.5rem] sm:px-[2rem] md:px-[3rem] lg:px-[4rem]"
>
  <div class="flex flex-col items-center gap-[0.125rem]">
    <h4
      class="font-ubuntu-condensed text-[1.125rem] text-center text-secondary"
    >
      {i18n.TESTIMONIALS.TITLE}
    </h4>
    <h1
      class="font-medium text-[1.75rem] text-primary text-center tracking-[-0.04em] leading-[1.75rem]"
    >
      {i18n.TESTIMONIALS.DESCRIPTION}
    </h1>
  </div>

  <div
    class="w-full flex flex-col md:flex-row items-center justify-center gap-x-[2.625rem] gap-y-[7.5rem]"
  >
    <div
      class="h-auto md:min-h-[380px] w-full max-w-[31.25rem] relative bg-white flex flex-col gap-[1.875rem] pt-[6.25rem] pb-[1.5rem] px-[2.125rem] rounded-[1rem] shadow-[0px_11px_60px_rgba(0,0,0,0.1)]"
    >
      <div
        class="w-[9.375rem] h-[9.375rem] absolute top-[-80px] left-[50%] -translate-x-1/2 border-[0.1875rem] bg-slate-100 border-white rounded-full overflow-hidden shadow-[0px_9px_20px_rgba(0,0,0,0.1)]"
      >
        <Image
          src={testimonialImg1}
          class="w-full h-full object-cover object-center"
          alt="Nicolas Dañino Cabieses"
        />
      </div>
      <div class="w-full flex flex-col items-center gap-[0.3125rem]">
        <h1
          class="font-medium text-[1.25rem] text-primary text-center tracking-[-0.04em]"
        >
          Nicolas Dañino Cabieses
        </h1>
        <h3
          class="font-ubuntu-condensed text-[1rem] text-center text-secondary"
        >
          {i18n.TESTIMONIALS.NICOLAS.JOB}
        </h3>
        <div class="flex items-center gap-[0.3125rem] text-primary">
          <a
            href="https://www.linkedin.com/in/nicolas-da%C3%B1ino-cabieses-64970719b"
            target="_blank"
            class="w-[1.5rem] h-[1.5rem] flex items-center justify-center"
          >
            <Icon name="mdi:linkedin" size={24} />
          </a>
          <a
            href="mailto:nicolasdaninoc@gmail.com"
            class="w-[1.5rem] h-[1.5rem] flex items-center justify-center"
          >
            <Icon name="mdi:email" size={24} />
          </a>
        </div>
      </div>
      <p
        class="relative font-ubuntu-condensed text-[1rem] text-secondary leading-[1.5rem] text-center"
      >
        <span class="absolute top-[-30px] left-[-20px] text-primary">
          <Icon name="mdi:format-quote-open" size={32} />
        </span>
        {i18n.TESTIMONIALS.NICOLAS.COMMENT}
        <span
          class="absolute bottom-[-10px] right-[-20px] text-primary rotate-180"
        >
          <Icon name="mdi:format-quote-open" size={32} />
        </span>
      </p>
    </div>

    <div
      class="h-auto md:min-h-[380px] w-full max-w-[31.25rem] relative bg-white flex flex-col gap-[1.875rem] pt-[6.25rem] pb-[1.5rem] px-[2.125rem] rounded-[1rem] shadow-[0px_11px_60px_rgba(0,0,0,0.1)]"
    >
      <div
        class="w-[9.375rem] h-[9.375rem] absolute top-[-80px] left-[50%] -translate-x-1/2 border-[0.1875rem] bg-slate-100 border-white rounded-full overflow-hidden shadow-[0px_9px_20px_rgba(0,0,0,0.1)]"
      >
        <Image
          src={testimonialImg2}
          class="w-full h-full object-cover object-center"
          alt="Miguel Angel Castillo Berrospi"
        />
      </div>
      <div class="w-full flex flex-col items-center gap-[0.3125rem]">
        <h1
          class="font-medium text-[1.25rem] text-primary text-center tracking-[-0.04em]"
        >
          Miguel Angel Castillo Berrospi
        </h1>
        <h3
          class="font-ubuntu-condensed text-[1rem] text-center text-secondary"
        >
          {i18n.TESTIMONIALS.MIGUEL.JOB}
        </h3>
        <div class="flex items-center gap-[0.3125rem] text-primary">
          <a
            href="https://www.linkedin.com/in/miguel-angel-castillo-berrospi-89a4883a/"
            target="_blank"
            class="w-[1.5rem] h-[1.5rem] flex items-center justify-center"
          >
            <Icon name="mdi:linkedin" size={24} />
          </a>
        </div>
      </div>
      <p
        class="relative font-ubuntu-condensed text-[1rem] text-secondary leading-[1.5rem] text-center"
      >
        <span class="absolute top-[-30px] left-[-20px] text-primary">
          <Icon name="mdi:format-quote-open" size={32} />
        </span>
        {i18n.TESTIMONIALS.MIGUEL.COMMENT}
        <span
          class="absolute bottom-[-10px] right-[-20px] text-primary rotate-180"
        >
          <Icon name="mdi:format-quote-open" size={32} />
        </span>
      </p>
    </div>
  </div>
</section>
