---
import { Image } from "astro:assets";

import flip from "../assets/images/flip.webp";
import animalsFrends from "../assets/images/animals-frends.webp";
import kgAcademy from "../assets/images/kg.webp";

import { getI18N } from "../i18n";

import iconGooglePlay from "../assets/icons/icon-google-play.svg";
import iconAppStore from "../assets/icons/icon-app-store.svg";
import iconReact from "../assets/icons/icon-react.svg";
import iconTypescript from "../assets/icons/icon-typescript.svg";
import iconExpo from "../assets/icons/icon-expo.svg";
import iconReactNavigation from "../assets/icons/icon-react-navigation.svg";
import iconRedux from "../assets/icons/icon-redux.svg";
import iconHtml from "../assets/icons/icon-html.svg";
import iconNextjs from "../assets/icons/icon-nextjs.svg";
import iconTailwind from "../assets/icons/icon-tailwindcss.svg";
import iconStripe from "../assets/icons/icon-stripe.svg";
import iconSocket from "../assets/icons/icon-socket.svg";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section
  id="works"
  class="w-full h-full max-w-[76.5rem] flex flex-col items-center gap-[6.875rem] mx-auto py-[10rem] md:py-[15rem] px-[1.5rem] sm:px-[2rem] md:px-[3rem] lg:px-[4rem]"
>
  <div class="flex flex-col items-center gap-[0.125rem]">
    <h1
      class="font-medium text-[1.5rem] sm:text-[2rem] text-primary text-center tracking-[-0.04em]"
    >
      {i18n.MY_WORKS.TITLE}
    </h1>
    <h4
      class="font-ubuntu-condensed text-[1rem] sm:text-[1.125rem] text-center text-secondary leading-[1.75rem]"
    >
      {i18n.MY_WORKS.DESCRIPTION}
    </h4>
  </div>

  <div class="w-full flex flex-col gap-[10rem]">
    <div
      class="w-full flex flex-col-reverse md:grid md:grid-cols-[minmax(300px,1fr)_1fr] gap-[3rem] items-center"
    >
      <div class="flex items-center justify-center">
        <Image
          loading="lazy"
          src={flip}
          class="w-full h-full"
          alt="Flip Inversiones App"
        />
      </div>
      <div class="w-full flex flex-col items-center md:items-end gap-[1.25rem]">
        <h1
          class="font-medium text-[1.5rem] lg:text-[2rem] text-primary text-right tracking-[-0.04em] whitespace-nowrap"
        >
          {i18n.MY_WORKS.FLIP.TITLE}
        </h1>
        <p
          class="font-ubuntu-condensed text-[1rem] sm:text-[1.125rem] text-secondary text-center md:text-right leading-[1.75rem]"
        >
          {i18n.MY_WORKS.FLIP.DESCRIPTION}
        </p>
        <div class="flex flex-col items-center md:items-end gap-[0.3125rem]">
          <h6
            class="font-ubuntu-condensed text-[0.875rem] text-secondary text-right"
          >
            {i18n.MY_WORKS.DOWNLOAD_HERE}
          </h6>
          <div class="flex items-center gap-[0.625rem]">
            <a
              href="https://play.google.com/store/apps/details?id=com.flipinversiones.app"
              target="_blank"
            >
              <Image
                src={iconGooglePlay}
                class="w-full h-full"
                alt="Google Play Store"
              />
            </a>
            <a
              href="https://apps.apple.com/pe/app/flip-inversiones/id1660821298"
              target="_blank"
            >
              <Image src={iconAppStore} class="w-full h-full" alt="App Store" />
            </a>
          </div>
        </div>
        <div
          class="flex flex-col items-center md:items-end gap-[0.3125rem] mt-[0.3125rem]"
        >
          <h6
            class="font-ubuntu-condensed text-[0.875rem] text-secondary text-right"
          >
            {i18n.MY_WORKS.TECH_TEXT}
          </h6>
          <div
            class="flex flex-wrap items-center justify-center gap-[0.625rem]"
          >
            <Image src={iconRedux} width="24" height="24" alt="Redux" />
            <Image src={iconReactNavigation} alt="Redux" />
            <Image src={iconExpo} alt="Expo" />
            <Image
              src={iconTypescript}
              width="24"
              height="24"
              alt="Typescript"
            />
            <Image src={iconReact} width="24" height="24" alt="React" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-full flex flex-col md:grid md:grid-cols-[1fr_minmax(300px,1fr)] gap-[3rem] items-center"
    >
      <div
        class="w-full flex flex-col items-center md:items-start gap-[1.25rem]"
      >
        <h1
          class="font-medium text-[1.5rem] lg:text-[2rem] text-primary tracking-[-0.04em] whitespace-nowrap"
        >
          {i18n.MY_WORKS.ANIMALS_FRENDS.TITLE}
        </h1>
        <p
          class="font-ubuntu-condensed text-[1rem] sm:text-[1.125rem] text-secondary leading-[1.75rem] text-center md:text-left"
        >
          {i18n.MY_WORKS.ANIMALS_FRENDS.DESCRIPTION}
        </p>
        <a
          href="https://www.animalsfrends.io/"
          target="_blank"
          class="w-full max-w-[7.5rem] h-[2rem] grid place-content-center border-[1px] border-primary font-ubuntu-condensed text-[0.875rem] text-primary text-center rounded-[0.5rem] hover:bg-primary hover:text-white transition-[background] duration-[150ms]"
        >
          {i18n.MY_WORKS.BUTTON_TITLE}
        </a>
        <div class="flex flex-col items-center md:items-start gap-[0.3125rem]">
          <h6 class="font-ubuntu-condensed text-[0.875rem] text-secondary">
            {i18n.MY_WORKS.TECH_TEXT}
          </h6>
          <div
            class="flex flex-row flex-wrap justify-center items-center gap-[0.625rem]"
          >
            <Image src={iconHtml} width="24" alt="HTML" />
            <Image src={iconReact} width="24" height="24" alt="React" />
            <Image src={iconNextjs} width="50" alt="Nextjs" />
            <Image
              src={iconTypescript}
              width="24"
              height="24"
              alt="Typescript"
            />
            <Image src={iconTailwind} width="110" alt="TailwindCss" />
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <Image
          src={animalsFrends}
          class="w-full h-full object-cover"
          alt={i18n.MY_WORKS.ANIMALS_FRENDS.TITLE}
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
